/* ===== GENERAL SETTINGS ===== */

* {
	margin:0;
	padding:0;
}

body {
	background-color:#3b3a39;
	padding:10px;
	font-size:14px;
}

div
{
	color:#f7f7f7;
	margin-bottom:2px;
}

/* Prefix ex: [ERROR], [NOTIF], ... */
.prefix {
	font-weight:bold;
}

/* ===== DATE ===== */
.date {
	color:#e2e2e2;
}

/* ===== NOTIFICATION ===== */
.notif {
	color:#b0e0ff;
}

/* ===== ERROR ===== */
.error {
	color:#ff0000;
}